.base-design{
  background: #51585f;
 height: fit-content;

 color: bisque;
 
}
/*Top Bar Css*/
.top-bar{
  font-size: larger;
  background: black;
  padding-left: 20px;
 padding-top: 30px;
}
.top-bar .nav-list{
  cursor: pointer;
}
.top-bar .nav-list:hover{
  color: skyblue;
}
/*Content Css part*/
.content{
  margin-left: 50px;
  margin-top: 50px;
  height: 100vh;
  background: #51585f;
}

/*Adddata Css part*/
.adddata{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.add-container{
  height: 450px;
  width: 500px;
  border:10px solid black;
  border-radius: 15px;
}
.add-container:hover{
  transform: translate3d(0, -.155rem, 0);
  
}

.add-items{
 padding-top: 50px;
 display: flex;
 justify-content: center;
 align-items: center;
 >form{
 
  >select{
    width:405px;
    height: 40px;
    background: black;
    color: bisque;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
  }
  >select:hover{
    transform: translate3d(0, -.155rem, 0)
  }
  >input{
    width:400px;
    height: 40px;
    background: black;
    color: bisque;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
  }
  >input:hover{
    transform: translate3d(0, -.155rem, 0)
  }
 }
}
.add-control{
  padding-top: 20px;
  margin-left: 200px;
  >button{
    background: #87ceeb;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    color: #141212;
    font-size: larger;
  }
  >button:hover{
    transform: translate3d(0, -.155rem, 0)
  }
}

.btn-control{
  display: flex;
  flex-direction: row;
  gap: 4rem;
  padding-bottom: 10px;
 
}